<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Log In page</title>
	<meta name="descript" content="This is wall project">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
</head>
<body>
	{% with messages = get_flashed_messages(with_categories= True) %}
		{% if messages %}
			<div class =flashes>
				{% for category, message in messages%}
					<p class="{{category}}">{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
	<div id ="background">
		<div id ="input_field">
			
			<form action="/user" method ="post">
				<input type="hidden" name="hidden" value="login">
				<label for="login_id" id="login_id">ID: <br><input type="text" name="login_id"></label><br><br>
				<label for="login_pw" id="login_pw">Password: <br><input type="password" name="login_pw"></label><br><br>
				<input type="submit" value="Log In" id="login_button">
			</form>
		</div>
		<br><br><br>
		<a href="/register">Don't have an account yet? Click here to register!</a>
	</div>
</body>
</html>