<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Log In page</title>
	<meta name="descript" content="This is wall project">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css')}}">
</head>
<body>
	<div id = "background">
		<form action="/register/confirm" method='post'>
			<input type="hidden" name="hidden" value="register">
			<label for="register_fn">First Name: <br><input type="text" name="register_fn"></label><br>
			<label for="register_ln">Last Name: <br><input type="text" name="register_ln"></label><br>
			<label for="register_email"> Email: <br><input type="text" name="register_email"></label><br>
			<label for="register_pw"> Password: <br><input type="password" name="register_pw"></label><br>
			<label for="register_pwc"> Password Confirm: <br><input type="password" name="register_pwc"></label><br>
			<input type="submit" value="Register" id ="register_button">
		</form>
		{% with messages = get_flashed_messages(with_categories= True) %}
			{% if messages %}
				<div class =flashes>
				{% for category, message in messages%}
					<p class="{{category}}">{{ message }}</p>
				{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
	</div>
</body>
</html>