<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<title>Gold_Game</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gold.css') }}">
</head>
<body>
	<div id = "top_score">
		<div class ="number_text">Your Gold:</div> 
		<div class="number_box">  {{total_gold}}</div> 
	</div>
	<div id = "main">
		<div id = "farm">
			<h1>Farm</h1>
			<h4>(earns 10-20 golds)</h4>
			<form action="/process_money" method="post">
				<input type="hidden" name="hidden" value="farm">
				<input type="submit" value="Find GOLD!">
			</form>
		</div>
		<div id = "cave">
			<h1>Cave</h1>
			<h4>(earns 5-10 golds)</h4>
			<form action="/process_money" method="post">
				<input type="hidden" name="hidden" value="cave">
				<input type="submit" value="Find GOLD!">
			</form>
		</div>
		<div id = "house">
			<h1>House</h1>
			<h4>(earns 2-5 golds)</h4>
			<form action="/process_money" method="post">
				<input type="hidden" name="hidden" value="house">
				<input type="submit" value="Find GOLD!">
			</form>
		</div>
		<div id = "casino">
			<h1>Casino</h1>
			<h4>(earns 0-50 golds)</h4>
			<form action="/process_money" method="post">
				<input type="hidden" name="hidden" value="casino">
				<input type="submit" value="Find GOLD!">
			</form>
		</div>
	</div>
	<h2>Activities: </h2>
	<div id = "bottom">
		<div id ="score_log">
			{% for k in session['log_list'] %}
				<p>{{k}}</p>
			{% endfor %}
		</div>
	</div>
</body>
</html>